@import "tailwindcss";

@theme {
  --color-bodyBackgroundFrom: #F9F4FA;
  --color-bodyBackgroundTo: #DEF2F3;
  --color-text: #163551;
}

body {
  background: linear-gradient(
    180deg,
    var(--color-bodyBackgroundFrom),
    var(--color-bodyBackgroundTo)
  );
  /* background: var(--color-bodyBackgroundFrom); */
  color: var(--text);
  overflow: hidden;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 40px;
  background: #ffffff6a;
  border-radius: 100px;
  border: 2px solid #00000088;
}

input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 40px;
  background: #ffffff6a;
  border-radius: 100px;
  border: 2px solid #00000088;
}

@keyframes colorWave {
  0% {
    color: #22d3ee;
  }

  25% {
    color: #23a6d5;
  }

  50% {
    color: #3e98a8;
  }

  75% {
    color: #26938a;
  }

  100% {
    color: #22d3ee;
  }
}

/* .passwordGeneratorWrapper{
  -webkit-mask: url(/mask1.svg) no-repeat top left;
  mask: url(/mask1.svg) no-repeat top left;
  mask-composite: exclude;
  mask-position: top left;
  -webkit-mask-composite: exclude;
  mask-repeat: no-repeat;
} */
.passwordGeneratorWrapper {
  background-image: radial-gradient(circle, #ffffff6a, #ffffff6a);
  display: block;
  margin: 0 auto;
  -webkit-mask-image: url(/mask.svg),linear-gradient(#000000 0 0);
  mask-image: url(/mask.svg),linear-gradient(#000000 0 0);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: top center;
  mask-position: top center;
  -webkit-mask-composite: exclude;
  mask-composite: exclude;
}

/* .passwordGeneratorWrapper { */
  /* clip-path: path("M 0 0 L 100 0 L 100 100 L 0 100 Z"); */
/* } */

/* mask-composite: add;
mask-composite: subtract;
mask-composite: intersect;
mask-composite: exclude;

mask-composite: inherit;
mask-composite: initial;
mask-composite: revert;
mask-composite: revert-layer;
mask-composite: unset; */
