@import "tailwindcss";

@theme {
  --color-bodyBackgroundFrom: #000000;
  --color-bodyBackgroundTo: #111111;
  --color-text: #ffffff;
  --color-green: #cae0ba;
}

body {
  background: linear-gradient(
    180deg,
    var(--color-bodyBackgroundFrom),
    var(--color-bodyBackgroundTo)
  );
  color: var(--color-text);
  overflow: hidden;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 30px;
  background: #ffffff6a;
  border-radius: 100px;
  border: 2px solid #fff;
}

input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 30px;
  background: #ffffff6a;
  border-radius: 100px;
  border: 2px solid #fff;
}
